
html, body {
    text-align: center;
    }
    p {text-align: left;}
    
    body {
        margin: 0;
        padding: 0;
        background: #697281;
        text-align: left;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #F1F5F8;
        background-color:#679159;
    }
    *
    {
      margin: 0 auto 0 auto;
     text-align:left;}
    
    #page
    {
      margin: 0 auto 0 auto; 
      margin-top:25px;
      display: block; 
      height:auto;
      position: relative; 
      overflow: hidden; 
      background: #679159 url(https://www.html.am/templates/downloads/bryantsmith/greencreative/background.png) repeat-y;
      width: 738px;
    }
    
    #header
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/header.png);
    background-repeat:no-repeat;
    height:111px;
    width:738px;
    }
    
    #headerTitle
    {
    position:relative;
    left:30px;
    top:30px;
    color:#283823;
    text-align:left;
    font-size:34px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    }
    
    .contentTitle:hover{

  
    
    transform:rotate(360deg);
    
    }

    #headerSubText
    {
    position:relative;
    left:33px;
    top:30px;
    color:#679159;
    text-align:left;
    font-size:16px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    }
    
    
    #bar
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/bar.png);
    background-repeat:no-repeat;
    height:55px;
    width:750px;
    line-height:55px;
    padding-left:20px;
    
   
    }
    

    #bar a
    {
    font-size:13px;
    font-weight:bold;
    color:#FBFDFB;
    margin-left:55px;
    margin-right:28px;
   
   
    
    
    
    }
    
    #bar a:hover
    {
    color:#C7E0C2;
    
    }
    
    
    
    .contentTitle
    {
    width:676px;
    height:37px;
    margin-top:20px;
    margin-left:25px;
    margin-right:25px;
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/tab_back.png);
    background-repeat:no-repeat;
    transition: all 2s ease-in-out;
    
    }
    
    .contentTitle h1
    {
    margin-left:21px;
    padding-top:8px;
    font-size:17px;
    font-weight:bold;
    color:#071027;
    }
    
    .comments
    {
    font-size:11px;
    font-style:italic;
    }
    
    .contentText
    {
    width:680px;
    padding-left:30px;
    padding-right:30px;
    font-size:13px;
    color:#030712;
    line-height:30px;
    }
    
    a
    {
    text-decoration:none;
    color:#152413;
    }
    
    a:hover
    {
    color:#597A41;
    }
    
    
    #footer {
    width: 738px;
    height:53px;
    background: url(https://www.html.am/templates/downloads/bryantsmith/greencreative/footer.png) no-repeat;
    text-align:center;
    font-size:9px;
    color:#152413;
    padding-top:38px;
    }
    



#footer:hover{
  transform: scaleY(180deg);
}

.btn{
  width:70px;
  height:20px;
  color:white;
  background-color: green;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-out 0.3s;
  margin-left: 638px;
  
}

.btn:hover{
  box-shadow: inset 70px 0 0 0 lightgreen;

}


.img1:hover{
  transform:scale(1.5);
  cursor: pointer;

}

img{
 height:200px;
 width:200px;
 margin-left: 1px;
 margin-top: -1px;

 
}

.img1{
  
  height:200px;
  width:200px;
  margin-left: 10px;
  margin-top: -800;
  overflow: hidden;
  transition: 1s;
}

.btn2{
  position: relative;
  border-radius: 50px;
  background: linear-gradient(to right,#e66465, #9198e5);
  overflow: hidden;
  
 
 
  
}

.btn2:before{
  content:'';
  position: absolute;
  height:30px;
  width:10px;
  background: #FBFDFB;
  box-shadow: 0 0 10px #F1F5F8;
  filter: blur(1px);
  opacity: 0.8;
  transition: .7s;
  margin-top: -10px;
  transform: rotate(-20deg)translateX(-10px);
  

}

.btn2:hover:before{
  transform: rotate(-20deg) translate(40px,3px);
  
  
}

.flo{
  position: relative;
  overflow: hidden;
 
}


.abt{
  position: relative;
  transition: .5s;
  
  z-index: 1;
}

.abt:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
opacity: 0;
transition: .3s;

}


.abt:after{
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  
}

.abt:hover:before{
  color: #fff;
  transform: scaleY(1);
  opacity: 1;
}

.abt:hover:after{
  transform: scaleY(1);
  opacity: 1;
  color:white;
  z-index: -1;
  
}


.light{
  animation: one 2s ease-in 0s infinite;
}


@keyframes one{
  from{
    color:hotpink;
  }
  to{
    color:orange;
  }

}


.spin{
  animation-name: sp;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

@keyframes sp{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
}

